
@{
    ViewData["Title"] = "SelectExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SecureBrowser.OtherFunctions.Models;

<form class="row justify-content-center">
    <div class="col-lg-12 col-11 mt-3">
        <div class="row justify-content-center mt-5 text-center border-16 bg-blue-light p-5 h-90">

            <div class="col-12">
                <h3 class="font-weight-bold">Select Exam</h3>
            </div>

            <div class="col-12 my-2 text-center">
                <select name="sources" id="Exam" class="custom-select sources display-select" placeholder="Select College">
                    @foreach (FirestoreExam m in ViewBag.Exams)
                    {
                        <option value="@m.Id">@m.Name</option>
                    }
                </select>
            </div>

            <div class="col-12 my-3 mt-5">
                <a onclick="LoadExamModal()" class="bg-blue text-white shadow-blue border-10 px-5 py-3 bg-blue-hover shadow-blue-hover smooth-transition cursor-pointer mx-5">
                    Start
                </a>
                <br />
            </div>


            <div class="col-12 my-2 d-none">
                <a onclick="StopInterval()" class="bg-blue text-white shadow-blue border-10 px-4 py-2 bg-blue-hover shadow-blue-hover smooth-transition cursor-pointer mx-5">
                    Stop
                </a>
            </div>

        </div>
    </div>
</form>


<div class="modal fade" id="ExamModal" tabindex="-1" role="dialog" aria-labelledby="ExamModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-12 shadow-2 container-fluid">
            <div class="row">
                <div class="modal-header col-12 border-0">
                    <h5 class="modal-title" id="exampleModalLongTitle">Exam Details</h5>
                    <button type="button" id="ExamModalCLoseButton" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body col-12">
                    <div class="row">
                        <div class="col-12 font-weight-bold" id="ExamName">Name : </div>
                        <div class="col-12 font-weight-bold" id="ExamStartTime">Start TIme : </div>
                        <div class="col-12 font-weight-bold" id="ExamEndTime">End Time : </div>
                    </div>
                </div>
                <div class="col-12 py-4 text-center w-100">
                    <a id="ExamLink" class="bg-blue text-white shadow-blue border-10 px-4 py-2 bg-blue-hover shadow-blue-hover smooth-transition cursor-pointer mx-5">Start</a>
                   @* onclick="LoadExamWindow()"*@
                </div>
            </div>

        </div>
    </div>
</div>



