
@{
    ViewData["Title"] = "Verify Students";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<a onclick="window.location = '/Dashboard/Students'" class="SettingBack mb-3 cursor-pointer smooth-transition"><span class="smooth-transition">←</span>Students</a>

<h1 class="PageHeading mt-2">
    <span class="pageSubTitle d-block fg-primary-color mb-1">Welcome, @ViewBag.User.Name</span>
    Verify Students
</h1>

<div class="container">
    <form class="row">

    </form>
</div>
