@{
    ViewData["Title"] = "Home Page";
}
<div class="row justify-content-center" onload="getLocation()">
    <div class="col-lg-12 col-11 mt-3">
        <form onsubmit="return false" id="LoginCollege" class="row mt-5 text-center border-16 bg-blue-light p-5 ">

            <div class="col-12">
                <h3 class="font-weight-bold">Welcome</h3>
                <p class="font-weight-bold">
                    Login To Handle College Exams
                </p>
                <p class="font-weight-bold">
                    Database Connection : @ViewBag.isConnect
                    <br />
                </p>
            </div>

            <div class="col-12 my-3 text-center">
                <input type="email" name="Email" placeholder="Enter Your Email" class="py-3 px-4 border-0 border-12 shadow-2 shadow-1-hover smooth-transition font-weight-bold" />
            </div>

            <div class="col-12 my-3 text-center">
                <input type="password" name="Password" placeholder="Enter Password" class="py-3 px-4 border-0 border-12 shadow-2 shadow-1-hover smooth-transition font-weight-bold" />
            </div>

            <div class="col-12 my-3 mt-5">
                <button type="submit" onclick="Login()" class="bg-blue text-white shadow-blue border-10 px-5 py-3 bg-blue-hover shadow-blue-hover smooth-transition cursor-pointer mx-5 border-0">
                    Signin
                </button>
            </div>

            <div class="col-12 my-3 mb-5">
                <a href="\Home\Create" class="fg-blue fg-blue-hover smooth-transition">
                    Signup
                </a>
            </div>


            <div class="col-12 my-2 d-none">
                <button type="submit" onclick="StopInterval()" class="bg-blue text-white shadow-blue border-10 px-4 py-2 bg-blue-hover shadow-blue-hover smooth-transition cursor-pointer mx-5">
                    Stop
                </button>
            </div>

        </form>
    </div>
</div>
