
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1 class="PageHeading">
    <span class="pageSubTitle d-block fg-primary-color mb-1">Want To Change Admin Permissions, @ViewBag.User.Name?</span>
    Manage Admin
</h1>

<div class="container">
    <div class="row">
    </div>
</div>

