
@{
    ViewData["Title"] = "Colleges";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1 class="PageHeading">
    <span class="pageSubTitle d-block fg-primary-color mb-1">Want To Manage College, @ViewBag.User.Name ?</span>
    Manage Colleges
</h1>

<div class="container">
    <div class="row">
    </div>
</div>


