
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1 class="PageHeading">
    <span class="pageSubTitle d-block fg-primary-color mb-1">Welcome, @ViewBag.User.Name</span>
    Dashboard
</h1>

<div class="container">
    <div class="row">
    </div>
</div>
